<h1><%= @receiver_user.profile.first_name %>, han aceptado una solicitud de amistad</h1>
<p><b><%= @sender_user_full_name%></b> ha aceptado la solicitud de amistad que le habias enviado.</p>
<p>Ingresa a la app de Android para mirar su muro y su perfil!</p>
