<h1><%= @receiver_user.profile.first_name %>, recibiste una solicitud de amistad</h1>
<p>Recibiste una solicitud de amistad de <b><%= @sender_user_full_name %></b>.</p>
<p>Ingresa a la app de Android para aprobar su solicitud de amistad!</p>
