<h1><%= @user.profile.first_name %>, hay una nueva discusion en un grupo que estas suscripto</h1>
<p>En el grupo <b><%= @group.name %></b>, <%= @discussion_author_full_name %> ha publicado una nueva discusion con el asunto <i><%= @discussion.subject %></i></p>
<p>Ingresa a la app de Android para mirar la nueva discusion!</p>
