<h1><%= @user.profile.first_name %>, hay un nuevo archivo en un grupo que estas suscripto</h1>
<p>En el grupo <b><%= @group.name %></b>, <%= @uploader_full_name %> ha subido un nuevo archivo llamado <i><%= @file.name %></i>.</p>
<p>Ingresa a la app de Android para mirar el nuevo archivo!</p>
