<h2>¡Bienvenidos al administrador de FIUBA Campus Móvil!</h2>
<h3>¿Que desea hacer?</h3>
<ul>
  <li><%= link_to 'Ver los usuarios', admin_users_path %></li>
  <li><%= link_to 'Ver reportes', admin_users_path %></li>
</ul>
