<div class="row full-width full-height" id="welcome-row-content">
  <div class="small-12 columns full-height" id="welcome-column-content">

    <div class="row welcome-row">
      <div class="small-12 columns">
        <h1>FIUBA Campus Móvil</h1>
      </div>
    </div>

    <div class="row welcome-row">

      <div class="small-12 medium-8 columns">
        <p>
          Una nueva forma de conectarte con la facultad
        </p>
        <ul>
          <li>Compartir tu perfil con tus compañeros de clase</li>
          <li>Relacionarse con compañeros de clase</li>
          <li>Escribir y localizar a tus contactos</li>
          <li>Participar en grupos y crear grupos propios</li>
          <li>Generar discusiones y subir archivos en grupos</li>
        </ul>
        <p><em>¡Próximamente el APK para descargar e instalar en tu Android!</em></p>
      </div>

      <div class="small-12 medium-4 columns">
        <!-- Galería de fotos -->
      </div>

    </div>

    <footer>
      <div class="row" id="welcome-footer">

        <div class="medium-4 columns">
          Desarrollado por LGD IT<sup>&copy;</sup>
        </div>

        <div class="medium-4 columns">
          Todos los derechos reservados
        </div>

        <div class="medium-4 columns">
          <%= link_to 'Administrador', admin_root_path %>
        </div>

      </div>
    </footer>

  </div>
</div>
